@model List<Product>
@{
    ViewBag.Title = "My Products";
}

<h2>Product List</h2>

<a asp-controller="Product" asp-action="Add">Add New Product</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Code</th>
            <th>Vendor</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Product in Model)
        {
            <tr>
                <td>@Product.ProductName</td>
                <td>@Product.Description</td>
                <td>@Product.Code</td>
                <td>@Product.Vendor</td>
                <td>@Product.Category.Name</td>
            </tr>
        }
    </tbody>
</table>